---
import Layout from "../layouts/Layouts.astro";
---

<Layout title="Acerca del Sitio">
    <h1>About</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet dolores facilis in deleniti! Enim, at sunt officiis quibusdam obcaecati sint, delectus harum in itaque corporis quasi deleniti cumque aperiam atque quos distinctio, similique sit fugit. Vel laudantium totam corporis consequatur eaque tenetur hic? Tempora debitis laudantium, cumque consequuntur tempore ullam labore obcaecati dolorum ex beatae aperiam repudiandae? Deserunt consectetur accusantium suscipit accusamus sed vel error quisquam, neque tenetur tempora deleniti unde nihil soluta a nobis, placeat aut rerum? Assumenda maiores accusantium voluptatum tempora! Quae explicabo veritatis voluptatem laborum quis cumque adipisci et. Maiores similique cum dignissimos voluptates deleniti, corporis rerum?</p>
</Layout>